# Terraform files
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/terraform.tfvars
**/.terraform.tfstate.lock.info
**/crash.log
**/override.tf
**/override.tf.json
**/*_override.tf
**/*_override.tf.json

# Ansible files
**/ssh-key.pem
**/ssh-key.pub
**/inventory.ini
**/*.retry

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo
*~

# Backup files
*.bak
*.backup
